body {
  color: $color-primary;
  font-family: $font-base;
  font-size: isEm(16px);
  font-weight: 300;
  background: $color-bg;
  padding: 0 isEm(16px);
  @media (min-width: $bp-lg) {
    padding: 0 isEm(24px);
  }
}

p {
  font-size: isEm(14px);
  line-height: 1.7;
}

.wrap {
  max-width: $bp-xl;
  margin: 0 auto;
}

.space-l-r,
%space-l-r {
  padding: 0 $space-sm;
  @media (min-width: $bp-lg) {
    padding: 0 $space-lg;
  }
}

a {
  color: $color-green;
  text-decoration: none;
  cursor: pointer;
}

nav a {
  position: relative;
  padding: 0 5px;
  &:before {
    content: "";
    position: absolute;
    background: $color-green;
    opacity: 0.3;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: height 0.2s;
  }

  &:hover,
  &.is-current {
    &:before {
      height: 18px;
      opacity: 0.3;
    }
  }
}

.italic {
  font-style: italic;
  font-family: $font-serif;
}

.link-arrow {
  position: relative;
  padding-right: isEm(20px);
  display: inline-block;
  transition: color 0.2s;
  &:after {
    content: "↝";
    display: inline-block;
    position: absolute;
    right: 0;
    top: -5px;
    font-size: isEm(20px);
  }
  &:hover {
    color: $color-green-light;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}