$font-base: 'Montserrat', Helvetica, sans-serif;
$font-serif: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;

$color-primary: #333;
$color-bg: #eef2f3;

$color-white: #fff;

$color-green: #417505;
$color-green-light: #B8E986;
