$font-base: 'Montserrat', Helvetica, sans-serif;
$font-serif: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;

$color-primary: #333;
$color-bg: #eef2f3;

$color-white: #fff;

$color-green: #417505;
$color-green-light: #B8E986;

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1080px;
$bp-xl: 1216px;

$space-sm: 16px;
$space-lg: 20px;