.title-has-line,
%title-has-line {
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	display: inline-block;
	font-family: $font-montserrat;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 3px;
		background: $color-grey-light;
	}
	@media (min-width: $bp-md) {
		&:after { width: 45%; }
	}
}

blockquote {
	margin: isEm(16px) 0;
	em {
		font-size: isEm(22px);
		font-family: $font-serif;
		line-height: 1.4;
	}
	@media (min-width: $bp-md) {
		margin: isEm(24px) isEm(30px);
		em {
			padding-left: isEm(20px);
			display: block;
			font-size: isEm(24px);
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 5px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: $color-green-light;
			}
		}
	}
}

.about-author {
	h1 { @extend %title-has-line; }
	@media (min-width: $bp-md) {
		padding: isEm(30px) isEm(20px);
		margin-bottom: isEm(20px);
		background: $color-white;
		p, h1, h2 {
			max-width: $bp-md;
			margin: 0 auto isEm(16px);
		}
	}
}