.title-has-line,
%title-has-line {
	position: relative;
	padding-bottom: 10px;
	display: inline-block;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 3px;
		background: $color-grey-light;
	}
	@media (min-width: $bp-md) {
		&:after { width: 45%; }
	}
}

%article-base,
.article-base {
	h1 { @extend %title-has-line; }

	@media (min-width: $bp-md) {
		padding: isEm(30px) isEm(20px);
		margin-bottom: isEm(20px);
		background: $color-white;
	}
}

.article-content {
	font-size: isEm(14px);
	line-height: 1.7;
	@media (min-width: $bp-md) {
		max-width: $bp-md;
		margin: 0 auto isEm(16px);
	}
}

blockquote {
	margin: isEm(16px) 0;
	quotes: "“" "”";
	display: block;
	border-left: solid 5px $color-green-light;
	padding-left: isEm(20px);
	position: relative;

	p { display: inline; }
	
	&:before, 
	&:after { display: inline-block; }

	&:before {content: open-quote;}
	
	&:after {content: close-quote;}

	font-size: isEm(22px);
	font-family: $font-serif;
	line-height: 1.4;

	@media (min-width: $bp-md) {
		margin: isEm(32px) isEm(40px);
	}
}
