.update-widget { overflow: hidden; }
.update-content {
  @media (min-width: $bp-lg) {
    width: 70%;
    float: left;
  }
}

.widget {
  @media (min-width: $bp-lg) {
    width: 25%;
    float: right;
    min-height: 270px;
    background: rgba(0, 0, 0, 0.3);
  }
}