.update-widget { overflow: hidden; }
.update {
  header { background: none; }
  h2, h3 { font-weight: 400; }
  h3 { margin-bottom: isEm(5px); }
  small { font-size: isEm(14px); }
  @media (min-width: $bp-lg) {
    width: 70%;
    float: left;
    h3 { font-size: isEm(24px); }
    h2 { font-size: isEm(34px); }
    small { font-size: isEm(16px); }
  }
}

.widget {
  @media (min-width: $bp-lg) {
    width: 25%;
    float: right;
    min-height: 270px;
    background: rgba(0, 0, 0, 0.3);
  }
}