footer {
  background: $color-white;
  overflow: hidden;
  font-size: rem(12px);
  padding-bottom: rem(16px);
  margin-top: rem(50px);
  a { color: #808080; }
  li { margin-bottom: rem(5px); }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h2 { font-weight: 400; }
  @media (min-width: $bp-lg) {
    > div {
      padding: 0 rem(30px);
      box-sizing: border-box;
      width: calc(100%/3);
      float: left;
    }
  }

}

.copyright {
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  color: #808080;
  margin-bottom: 0;
}
