footer {
  background: $color-white;
  overflow: hidden;
  font-size: isEm(12px);
  padding: 0 isEm(10px) isEm(10px) isEm(10px);
  margin-top: isEm(20px);
  a { color: #808080; }
  li { margin-bottom: isEm(5px); }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h2 { font-weight: 400; }
  
  @media (min-width: $bp-md) {
    > div {
      padding: 0 isEm(30px);
      box-sizing: border-box;
      width: calc(100%/3);
      float: left;
    }
  }
  @media (min-width: $bp-lg) {
    margin-top: isEm(50px);
    padding-bottom: isEm(16px);
  }

}

.copyright {
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  color: #808080;
  margin-bottom: 0;
}