header {
  background: $color-white;
  text-align: center;
  h1 { margin: 15px 0; }
  @media (min-width: $bp-md) {
    text-align: left;
  }
}

.mandarin-mansion-logo {
  display: inline-block;
  img {
    height: 60px;
    vertical-align: middle;
  }
  .logo-mobile { display: none; }
}

.mandarin-mansion {
  display: inline-block;
  font-size: isEm(20px);
  a { 
    color: $color-primary; 
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
  small {
    display: block;
    opacity: 0.6;
    font-size: 50%;
    font-weight: 400;
    position: relative;
    text-align: center;
    &:before,
    &:after {
      display: block;
      width: 17%;
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      height: 1px;
      background: #333;
      opacity: 0.6;
    }
    &:after {
      right: 0;
    }
  }
  @media (min-width: $bp-md) {
    font-size: isEm(32px);
  }
}

nav {
  a { color: $color-primary;
    &:before { opacity: 0; }
    &:hover {
      &:before { opacity: 0.3;}
    }
  }
  font-size: isEm(14px);
  padding-bottom: 16px;
  ul
  li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
  }
  @media (min-width: $bp-md) {
    font-size: isEm(16px);
    float: right;
    margin-top: isEm(33px);
    padding-bottom: 0;
  }
}

.mainheader {
  @media (min-width: $bp-md) {
    &.has-sticky {
      height: 88px;
    }
  }
}

.header-nav {
  @extend %space-l-r;
  box-sizing: border-box;
}

.is-sticky {
  transition: all 0.2s;
  @media (min-width: $bp-md) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: $color-white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    .mandarin-mansion { font-size: isEm(20px); }
    
    .mandarin-mansion-logo {
      .logo-desktop { display: none; }
      .logo-mobile { 
        display: inline-block; 
        height: 40px;
      }
    }

    nav { 
      margin-top: isEm(25px); 
      margin-left: isEm(20px);
    }
  }
}