.page-header {
	img { 
		//max-width: 100%; 
		vertical-align: top;
		height: 100%;
	}
	@media (min-width: $bp-md) {
		height: 320px;
		position: relative;
		
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), transparent);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		
	}
}

.page-intro {
	padding: 0 isEm(20px) 1px;
	a { color: $color-white; text-decoration: underline; transition: opacity 0.2s;
		&:hover { opacity: 0.8; }
	}
	@media (min-width: $bp-md) {
		position: absolute;
		left: isEm(20px);
		bottom: isEm(20px);
		color: $color-white;
		max-width: 60%;
		z-index: 3;
		padding: 0;
		
		h1 { @extend %title-has-line; }
	}
}
