.update-widget {
  overflow: hidden;
  padding: 0 rem(15px);
  @media (min-width: $bp-lg) {

  }
}
.update {
  header { background: none; }
  h2, h3 { font-weight: 400; }
  h3 { margin-bottom: rem(5px); }
  small { font-size: rem(14px); }
  p {
    font-size: rem(14px);
    line-height: rem(24px);
  }
  @media (min-width: $bp-lg) {
    width: 70%;
    float: left;
    h3 { font-size: rem(24px); }
    h2 { font-size: rem(34px); }
    small { font-size: rem(16px); }
  }
}

.widget {
  @media (min-width: $bp-lg) {
    width: 25%;
    float: right;
    min-height: 270px;
    background: rgba(0, 0, 0, 0.3);
  }
}
